* {
    box-sizing: border-box;
}

body {
    background-image: url('../assets/virus.jpg');
    /*margin: auto;*/
    font-family: 'Source Code Pro', monospace;
}

a {
    font-size: 20px;
    vertical-align: middle;
    gap: auto;
}

.header_resources {
    position: static;
    background-color: white !important;
    height: auto;
    width: 100%;
    text-align: center;
}

#who_img {
    margin-left: auto 40px auto;
}

#cdc_img {
    margin: auto 0px auto 40px;
    padding-right: 0px;
}

#world_img {
    margin: auto 0px auto 40px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto 20px auto;
    color: rgb(56, 250, 8);
}

h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto 20px auto;
    color: white;
}

.spotifycontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-left: 7%;
    margin-top: 5%;
    grid-gap: 10px;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 100%;
}

.col-3 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

.spotifycontainer::after {
    content: "";
    clear: both;
    display: table;
}

.videocontainer {
    margin: auto;
    text-align: center;
}

footer {
    height: 50px;
}

#forsale {
    color: white;
}

#mailto {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto 20px auto;
    color: white;
}